footer(class="footer")  
    section(class="footer__section")  
        p(class="footer__company-details") 2024 Marcos Torres
        nav(class="footer__nav")
            ul(class="")
                li(class="nav-item")
                    a(href="https://github.com/mt-torres/chat" class="") Sobre            

