footer(class="footer")  
    section(class="footer__section")  
        p(class="footer__company-details") 2024 Company, Inc
        nav(class="footer__nav")
            ul(class="")
                li(class="nav-item")
                    a(href="#" class="") Sobre            

