doctype html 
html(lang="pt-BR")
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            link(rel="stylesheet" href="../css/custom.css")
            script(src="https://cdn.socket.io/4.7.5/socket.io.min.js")
            title Chat | #{title}

    body
        // HEADER
        //- - if(title === 'Join Chat')   
        //-     include _header 
        //CONTENT
        block content

        //FOOTER
        - if(title === 'Join Chat')   
            include _footer
        script(src="/js/index.js")
        script(src="/js/chat.js")
        script(src="/js/users.js")
        script(src="/js/toast.js")
