extends base

block content
    main(class="chat")
        div(class="chat__connection-alert connection-alert")
            p(class="connection-alert__text") Conectando-se ao servidor
            div(class ="connection-alert__icons")
                div(class="connection-alert__flip")
                    div(class="connection-alert__spiner")
                    div(class="connection-alert__connected")
        div(class="chat__container") 
            section(class="chat__users chat-users")
                header(class="chat-users__header")
                    p(class="chat-users__title") Usuários
                    form(class="chat-users__form" role="search")
                        input(class="chat-users__search-input" type="search" placeholder="Buscar usuário" aria-label="Search")
                div(class="chat-users__user-list user-list" id="user-list") 
                    //- vai receber os usuarios da sala        
            section(class="chat__messages chat-messages")
                header(class="chat-messages__header" id="container-chat-header")
                    nav(class="chat-messages__hambuguer-menu" id="hambuguer-menu")
                    img(class="chat-messages__img" src="../img/logo.jpeg", alt="")
                    div(class="chat-messages__details" id="users-available")
                        p(class="chat-messages__text") #{data.username}, você está na sala #{data.room}
                div(class="chat-messages__container")
                    div(class="chat-messages__displayer display-message" id="users-msg")
                        //- vai receber as mensagens     
                    form(class="chat-messages__form" id="form-msg")
                        textarea(type="text" class="chat-messages_input-message" id="input-msg" placeholder="Digite uma mensagem")
                        button(type="submit" class="chat-messages__btn-send") Enviar
        div(class="container-toast")


