extends base

block content
    div(class="container-fluid d-flex p-0" style="height: 100vh")
        div(class="bg-success" style="width: 15.5rem")
        div(class="bg-danger flex-grow-1 d-flex flex-column")
            div(class="bg-warning  flex-grow-1")
            div(class="bg-info h-25")
                form(class="d-flex h-100 align-items-end p-5")
                    input(type="text" class="form-control" id="inputName")
                    button(type="submit" class="btn btn-primary ml-3") Enviar