extends base

block content 
    div(class="container d-flex w-100 align-items-center" style="height: 100vh")
            div(class="container d-flex justify-content-center h-50")
                form(class="w-25 rounded-3 bg-primary-subtle p-3" id="join-form")
                    p(class="lead") Entrar
                    div(class="mb-3")
                        label(for="inputName" class="form-label") Nome
                        input(type="text" class="form-control" id="inputName")
                    div(class="mb-3")
                        label(for="inputRoom" class="form-label") Sala
                        input(type="text" class="form-control" id="inputRoom")
                    button(type="submit" class="btn btn-primary w-100") Entrar

