extends base

block content 
    main(class="container-login")
        section(class="login")
            div(class="login__details")
                div(class="login__container")
                    img(class="container__logo-1" src="../img/logo.jpeg", alt="")
                    img(class="container__logo-2" src="../img/Logo-text2.png", alt="")
                    span(class="container__logo-text") melhor chat do brasil
            form(class="login__form" id="join-form")
                h1(class="login__header") Entrar
                div(class="input-container")
                    label(for="inputName" class="form-label") Nome:
                    input(type="text" class="" id="inputName")
                div(class="input-container")
                    label(for="inputRoom" class="form-label") Sala:
                    input(type="text" class="" id="inputRoom")
                button(type="submit" class="login__btn") Entrar

