extends base

block content 
    main(class="d-flex w-100 align-items-center mt-5")
        div(class="container d-flex justify-content-center")
            form(class="rounded-3 bg-primary p-3" id="join-form")
                p(class="lead") Entrar
                div(class="mb-3")
                    label(for="inputName" class="form-label") Nome
                    input(type="text" class="form-control" id="inputName")
                div(class="mb-3")
                    label(for="inputRoom" class="form-label") Sala
                    input(type="text" class="form-control" id="inputRoom")
                button(type="submit" class="btn btn-secondary w-100") Entrar

