@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
html,
body {
  font-family: "Quicksand", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  min-height: 100%;
}

input {
  font-family: "Quicksand", sans-serif;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  outline: none;
  border-radius: 20px;
  border: none;
}

button {
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

label {
  margin-bottom: 0.5rem;
}

::-webkit-scrollbar {
  width: 8px;
  opacity: 0.5;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #646b72;
}

::-webkit-scrollbar-thumb {
  background-color: #08bdf9;
  border: 0.5px solid #aadff1;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

.handle-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.container-login {
  width: 100%;
  height: 380px;
  max-height: 380px;
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.login {
  display: flex;
  position: relative;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-right: 2.5rem;
  justify-content: end;
}

.login__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__logo-1 {
  border-radius: 50%;
  width: 150px;
}

.container__logo-2 {
  margin-top: 1rem;
  width: 100%;
  height: 50px;
}

.container__logo-text {
  color: #fff;
}

.login__details {
  background-color: #343a40;
  position: absolute;
  height: 100%;
  width: 48%;
  z-index: 1;
  left: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 32px;
  box-shadow: 11px 9px 44px -8px rgba(0, 0, 0, 0.75);
}

.login__form {
  box-sizing: border-box;
  background-color: #08bdf9;
  border-radius: 32px;
  height: 100%;
  width: 50%;
  padding: 2rem 3rem 2rem 4rem;
  box-shadow: 11px 9px 44px -8px rgba(0, 0, 0, 0.75);
}

.login__header {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login__btn {
  width: 100%;
  color: #fff;
  background-color: #343a40;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 11px 9px 44px -15px rgba(0, 0, 0, 0.75);
}
.login__btn:hover {
  background-color: #272727;
}
.login__btn:active {
  box-shadow: none;
}

@media (max-width: 600px) {
  .container-login {
    height: 93%;
    max-height: 93%;
    justify-content: center;
    padding: 0 2rem 0.5rem 2rem;
    box-sizing: border-box;
  }
  .login {
    flex-direction: column;
    align-items: end;
    height: 100%;
    padding: 0;
    margin-top: 0rem;
  }
  .login__details {
    top: 6px;
    width: 100%;
    height: 55%;
    left: 0rem;
    box-shadow: 1px 6px 65px -8px rgba(0, 0, 0, 0.5);
  }
  .login__form {
    width: 100%;
    padding: 2rem;
    height: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 1px 6px 65px -8px rgba(0, 0, 0, 0.5);
  }
  .login__header {
    font-size: 2rem;
    margin: 0.7rem 0;
  }
  .login__btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
  }
}
@media (min-height: 850px) {
  .handle-container {
    padding: 10% 0 15% 0;
  }
}
.footer {
  padding: 0 6rem;
  display: flex;
}

.footer__section {
  padding: 2rem 1rem;
  border-top: 1px solid #dee2e6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer {
    padding: 0 2rem;
    display: flex;
  }
  .footer__section {
    padding: 1rem 1rem;
  }
}
.chat {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  background-color: white;
  padding: 2rem 5rem;
}

.chat__container {
  display: flex;
  height: 100%;
}

.chat-users {
  box-sizing: border-box;
  background-color: #343a40;
  color: white;
  padding: 1rem;
  margin-right: 0.5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
}

.chat-users__header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding: 0 0 1.5rem 0;
  border-bottom: 1px solid #dee2e6;
}

.chat-users__title {
  margin-top: 0.5rem;
}

.chat-users__form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.chat-users__search-input {
  width: 100%;
}

.chat-users__user-list {
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.user-list__card {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-list__card-img {
  width: 30px;
}

.user-list__name {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.chat-messages {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-messages__header {
  height: 16%;
  display: flex;
  background-color: #343a40;
  color: white;
  border-top-right-radius: 20px;
  position: relative;
}

.chat-messages__hambuguer-menu {
  display: none;
  position: absolute;
  right: 9px;
  top: 5px;
  width: 42px;
  height: 50px;
  background-image: url(../img/mobile-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  transition: transform 0.4s ease;
}

.chat-messages__hambuguer-menu--click {
  transform: rotate(90deg);
}

.chat-messages__img {
  margin: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-radius: 50%;
}

.chat-messages__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-messages__text {
  margin: 0;
  padding: 0;
}

.chat-messages__users {
  margin-top: 0.5rem;
  font-size: small;
}

.chat-messages__container {
  height: 84%;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.chat-messages__displayer {
  overflow-x: hidden;
  overflow-y: auto;
  background: url(../img/fundo-chat.png);
  background-size: contain;
}

.display-message__container {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
}

.display-message__container--sender {
  justify-content: end;
  margin-right: 1rem;
}

.display-message__message {
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: #7E6AFC;
  border-radius: 0px 52px 52px 52px;
}
@media (prefers-reduced-motion: no-preference) {
  .display-message__message {
    animation: fade-in-left 0.2s ease-in-out;
    animation-composition: replace;
  }
}

.display-message__message--sender {
  border-radius: 52px 0px 52px 52px;
}
@media (prefers-reduced-motion: no-preference) {
  .display-message__message--sender {
    animation: fade-in-right 0.2s ease-in-out;
    animation-composition: replace;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
}
.display-message__message-info {
  display: flex;
  justify-content: end;
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

.display-message__user-name {
  font-size: 0.6rem;
}

.display-message__user-date {
  display: none;
}

.display-message__message-data {
  font-size: 0.9rem;
  text-align: start;
  margin: 0.2rem 0 0.5rem 0;
}

.chat-messages__form {
  background-color: #343a40;
  border-end-end-radius: 20px;
  padding: 1rem 3rem;
  display: flex;
}

.chat-messages_input-message {
  width: 90%;
  font-family: "Quicksand", sans-serif;
  resize: none;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
}

.chat-messages__btn-send {
  margin-left: 2rem;
  background-color: #08bdf9;
}
.chat-messages__btn-send:hover {
  background-color: #3acdfd;
}

@media (max-width: 600px) {
  .chat {
    padding: 0.5rem;
    overflow: hidden;
  }
  .chat__users {
    position: absolute;
    z-index: 1;
    height: 50%;
    width: 180px;
    border-radius: 20px;
    right: -210px;
    transition: right 0.5s ease;
    margin-top: 3.5rem;
    box-shadow: 1px 6px 65px -8px rgba(0, 0, 0, 0.75);
  }
  .chat-messages__hambuguer--fadein {
    right: 8px;
    margin-top: 3.5rem;
    box-shadow: 1px 6px 65px -8px rgba(0, 0, 0, 0.75);
  }
  .chat-messages__form {
    padding: 1rem 1rem;
    border-bottom-left-radius: 20px;
  }
  .chat-messages__text {
    font-size: 0.8rem;
  }
  .chat-messages__hambuguer-menu {
    display: block;
  }
}
@media (min-width: 1367px) {
  .chat {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .chat__container {
    width: 1286px;
  }
}
.container-toast {
  position: absolute;
  bottom: 130px;
  right: 50px;
}

.c-toast {
  padding: 1rem;
  border: 1px solid #fff;
  background-color: #848688;
  opacity: 0.8;
  border-radius: 10px;
  font-size: small;
  animation-duration: 1s;
  animation-name: slidein;
}

.c-toast__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.2rem;
}

.c-toast__img {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #08bdf9;
  margin-right: 0.5rem;
}

.c-toast__timestamp {
  margin-left: auto;
}

.c-toast__body {
  margin-top: 0.5rem;
  text-align: center;
}

.c-toast--remove {
  animation-duration: 1s;
  animation-name: slideout;
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes slideout {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
